python-dotenv
requests
pandas
gspread
google-auth
google-auth-oauthlib
google-auth-httplib2
beautifulsoup4
lxml
click
pdfplumber
fuzzywuzzy
python-Levenshtein
reportlab
pytesseract
PyMuPDF
Pillow
streamlit
streamlit-authenticator
